.captcha-container {
  --background-color: transparent;

  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;

  .captcha-image {
    align-items: center;
    background-color: var(--background-color);
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    max-width: 600px; /* Limit the maximum width of the container */
    padding: 10px;
    user-select: none; /* Prevent text selection */
    width: 100%; /* Ensure the container takes up the full available width */

    .captcha-character {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex: content;
      justify-content: center;
      padding: 5px;
      transition: transform ease-in-out 1s;

      &.colored {
        color: var(--danger);
      }

      &.selected {
        background-color: var(--warning);
        border-radius: 50px;
      }

      em {
        font-size: 3rem;
      }
    }
  }

  .progress-bar {
    width: 100%;
    max-width: 600px;
    height: 10px;
    background-color: var(--background-color);
    border-radius: 0 0 5px 5px;

    .progress {
      background-color: var(--success);
      border-radius: 5px;
      height: 100%;
      opacity: 0.5;
      transition: width 1s linear;
    }
  }
}
