<article class="component-container">
  <quote-header-title>
    <span uiQuoteLiteral="header"></span>
    <p nxCopytext="normal" uiQuoteLiteral="subheader"></p>
  </quote-header-title>
  <section class="form-container">
    <form [formGroup]="form">
      <nx-formfield label="Número de DNI o NIE">
        <input formControlName="identificationNumber" nxInput />
      </nx-formfield>
    </form>
  </section>
  <quote-footer>
    <div class="extra__footer__info">
      <quote-footer-info icon="fa-id-card"><span uiQuoteLiteral="footer-info"></span></quote-footer-info>
    </div>
  </quote-footer>
</article>
