<article class="component-container">
  <quote-header-title>
    ¿Nos puedes facilitar tu documento de identidad?
    <p nxCopytext="normal">Solo utilizaremos este dato para darte un presupuesto totalmente personalizado</p>
  </quote-header-title>
  <section class="form-container">
    <form [formGroup]="form">
      <div class="quote-grow">
        <nx-formfield label="Número de DNI o NIE">
          <input formControlName="identificationNumber" nxInput />
        </nx-formfield>
      </div>
    </form>
  </section>
  <quote-footer [config]="footerConfig">
    <div class="extra__footer__info">
      <quote-footer-info icon="product-board-paper-note">
        Para ofrecerte el mejor seguro es importante verificar tu identidad.
      </quote-footer-info>
    </div>
  </quote-footer>
</article>
