:host {
  display: flex;
  flex: 1;
  flex-direction: column;

  .footer-options {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    ::ng-deep .nx-button--primary {
      color: var(--footer-option-color);
      background-color: rgb(0, 122, 179);
      background: var(--footer-option-background-color);
    }

    .footer-option + .footer-option {
      margin-left: 10px;
    }

    &.mobile-options {
      .footer-option {
        flex: 1;
      }
    }

    .mobile-option-back {
      width: auto;
    }
  }

  .footer-extras {
    display: flex;
    flex-direction: column;
    flex: 1;

    &.mobile-options {
      .footer-option {
        flex: 1;
      }
    }
  }
}
