<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="footer-options nx-margin-top-l" [ngClass]="{ 'mobile-options': mobileMode }">
  @if (config.showBack) {
  <button
    class="footer-option nx-margin-x-2xs nx-margin-y-2xs"
    [ngClass]="{ 'mobile-option-back': mobileMode }"
    nxButton="secondary medium"
    type="button"
    (click)="goToPreviousStep()"
  >
    @if(mobileMode) {
    <nx-icon name="chevron-left" size="s" aria-hidden="true" />
    }@else {
    <span uuiQuoteLiteral="footer-back"></span>
    }
  </button>
  } @if (config.showNext) {
  <button class="footer-option" nxButton="primary medium" uiQuoteLiteral="footer-next" type="button" (click)="goToNextStep()"></button>
  }
</div>
<div class="footer-extras" [ngClass]="{ 'mobile-options': mobileMode }">
  <ng-content></ng-content>
</div>
