:host {
  display: flex;
  flex: 1;
  flex-direction: column;

  .footer-options {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    ::ng-deep .nx-button--primary {
      background: rgb(0, 122, 179);
      background: radial-gradient(circle, rgba(0, 122, 179, 1) 0%, rgba(0, 122, 179, 0.5) 100%);
    }

    .footer-option + .footer-option {
      margin-left: 10px;
    }

    &.mobile-options {
      .footer-option {
        flex: 1;
      }
    }

    .mobile-option-back {
      width: auto;
    }
  }

  .footer-extras {
    display: flex;
    flex-direction: column;
    flex: 1;

    &.mobile-options {
      .footer-option {
        flex: 1;
      }
    }

    ::ng-deep {
      .extra__footer__info {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }
}
