<!-- eslint-disable @angular-eslint/template/elements-content -->
<quote-zone>
  <div
    class="footer-options nx-margin-top-l"
    [ngClass]="{ 'mobile-options': mobileMode, 'nx-margin-bottom-xs': config.showBack || config.showNext }"
  >
    @if (config.showBack) {
    <button
      class="footer-option nx-margin-x-2xs nx-margin-y-2xs"
      [ngClass]="{ 'mobile-option-back': mobileMode }"
      nxButton="secondary medium"
      type="button"
      (click)="goToPreviousStep()"
    >
      @if(mobileMode) {
      <em class="fa-solid fa-arrow-left"></em>
      }@else {
      <span unxQuoteLiteral="footer-back"></span>
      }
    </button>
    } @if (config.showNext) {
    <button
      class="footer-option"
      nxButton="primary medium"
      nxQuoteLiteral="footer-next"
      type="button"
      [nxTrack]="trackInfo"
      [nxTrackEvents]="['click']"
      (click)="goToNextStep()"
    ></button>
    }
  </div>
  <div class="footer-extras" [ngClass]="{ 'mobile-options': mobileMode }">
    <ng-content></ng-content>

    @if(config.info) {
    <div class="footer-info">
      <quote-footer-info [icon]="config.info.icon"> <span [nxQuoteLiteral]="config.info.literal"></span> </quote-footer-info>
    </div>
    }

    <ng-content select="[after]"></ng-content>
  </div>
</quote-zone>
