<article class="component-container">
  <quote-header-title><span nxQuoteLiteral="header"></span></quote-header-title>
  <section class="form-container">
    <form [formGroup]="form">
      <nx-formfield [label]="'year-of-manufacture-label' | quoteLiteral">
        <input type="text" formControlName="yearOfManufacture" nxInput nxMask="0000" />
        @if(form.get('yearOfManufacture')?.errors?.['required']) {
        <nx-error appearance="text" nxFormfieldError><span nxQuoteLiteral="error-required"></span> </nx-error>
        } @if(form.get('yearOfManufacture')?.errors?.['futureDate']) {
        <nx-error appearance="text" nxFormfieldError><span nxQuoteLiteral="error-future-date"></span> </nx-error>
        } @if(form.get('yearOfManufacture')?.errors?.['oldDate']) {
        <nx-error appearance="text" nxFormfieldError
          ><span nxQuoteLiteral="error-old-date" [uiQuoteLitealParams]="{ value: minYear }"></span>
        </nx-error>
        }
      </nx-formfield>
    </form>
  </section>
  <quote-footer />
</article>
