.component__header__title {
  .info__icon {
    color: var(--interactive-primary);
  }
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 340px;

  quote-icon-card {
    margin: 7.5px;
  }
}

.modal-content {
  text-align: center;
}
