<article class="component-container">
  <quote-header-title><span nxQuoteLiteral="header"></span></quote-header-title>
  <section class="form-container">
    <form [formGroup]="form">
      <quote-zone>
        <nx-formfield [label]="'search' | quoteLiteral" appearance="outline">
          <input #searchInput type="text" formControlName="searchInput" nxInput />
          <span nxFormfieldSuffix>
            <nx-icon name="search" size="s"></nx-icon>
          </span>
        </nx-formfield>
      </quote-zone>
    </form>

    @if(!form.value.searchInput) {
    <div class="icon-cards">
      @for(brand of iconBrands; track brand) {
      <quote-icon-card
        class="nx-margin-x-3xs nx-margin-y-3xs"
        [data]="brand"
        [selected]="selectedBrand === brand.index"
        [nxTrack]="{ title: 'header' | quoteLiteral, brand: brand.index, label: brand.index }"
        [nxTrackEvents]="['click']"
        (uiSelect)="selectBrand($event.index)"
      />
      }
    </div>
    } @else {
    <div class="serached-data">
      @for (item of searchedBrands; track item) {
      <div class="selectable-row">
        <quote-text-card
          [selected]="selectedBrand === item"
          [data]="item"
          [nxTrack]="{ title: 'header' | quoteLiteral, brand: item, label: item }"
          [nxTrackEvents]="['click']"
          (uiSelect)="selectBrand(item)"
        />
      </div>
      }
    </div>
    }
  </section>
</article>
