.form-container {
  flex-direction: column;

  p {
    display: flex;
    align-items: center;
  }
}

.center__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .nx-icon--fill {
    color: var(--interactive-primary);
    background-color: #eff6f6;
  }
}

.extra__footer__options {
  .phone-number {
    display: flex;
    align-items: center;
    // justify-content: center;
  }
}
