<article>
  <header class="nx-margin-bottom-3m">
    <div class="center__header">
      <h4 nxHeadline="subsection-xsmall" class="nx-font-weight-bold">Calcular mi seguro</h4>
      <div class="avatar__car nx-margin-y-m">
        <nx-icon name="product-smartphone" type="info" fill="true" outline="true" size="m" aria-hidden="true" />
      </div>
    </div>
    <quote-header-title>
      Podemos ayudarte, <br />
      ¿Quieres que te llamemos?
      <p nxCopytext="large">Podemos llamarte y ayudarte a encontrar el mejor seguro para ti, con las mejores coberturas.</p>
    </quote-header-title>
  </header>
  <quote-footer [config]="footerConfig">
    <div class="extra__footer__options nx-margin-top-3m">
      <p nxCopytext="large">También puedes contactarnos más tarde</p>
      <p nxCopytext="large" class="phone-number nx-margin-top-3xs">
        <nx-icon name="phone-o" type="info" size="s" aria-hidden="true" class="nx-margin-right-2xs" />
        +49 89 3800 7555
      </p>
    </div>
  </quote-footer>
</article>
