<!-- eslint-disable @angular-eslint/template/elements-content -->
<article class="component-container">
  <quote-header-title>
    <span nxQuoteLiteral="header"></span>
  </quote-header-title>
  <section class="form-container">
    <form [formGroup]="form">
      <nx-formfield [label]="'e-mail' | quoteLiteral">
        <input type="email" formControlName="email" nxInput email />
        @if(form.get('email')?.errors?.['required']) {
        <nx-error appearance="text" nxFormfieldError><span nxQuoteLiteral="error-required"></span> </nx-error>
        } @if(form.get('email')?.errors?.['matches']) {
        <nx-error appearance="text" nxFormfieldError><span nxQuoteLiteral="bad-format"></span> </nx-error>
        }
      </nx-formfield>
      <quote-zone>
        <div class="products-info nx-margin-top-s">
          <div class="products-info-literal nx-margin-right-xs" nxCopytext="normal">
            <span nxQuoteLiteral="more-info"></span>
          </div>
          <nx-switcher formControlName="accepInfo" />
        </div>
      </quote-zone>
      <quote-zone>
        <div class="products-info nx-margin-top-s">
          <div class="privatity products-info-literal nx-margin-right-xs" nxCopytext="normal">
            <span nxQuoteLiteral="text-01"></span>
            <nx-link nxStyle="text">
              <a routerLink="/documentation" nxQuoteLiteral="privacy-policy"></a>
            </nx-link>
            <span nxQuoteLiteral="text-02"></span>
          </div>
          <nx-switcher formControlName="acceptPrivacyPolicy" />
        </div>
        @if(form.get('acceptPrivacyPolicy')?.touched && form.get('acceptPrivacyPolicy')?.errors?.['requiredTrue']) {
        <nx-error class="align-right" appearance="text" nxFormfieldError><span nxQuoteLiteral="error-required"></span></nx-error>
        }
        <div class="legal-text nx-margin-top-s" nxCopytext="normal" nxQuoteLiteral="legal-text">
          <span class="products-info-literal nx-margin-y-s"></span>
        </div>
      </quote-zone>
    </form>
  </section>
  <quote-footer
    [trackInfo]="{
      title: 'header' | quoteLiteral,
      email: form.get('email')?.value,
    }"
    (uiOnNext)="updateValidData()"
  />
</article>
