@import 'core-globals';

.container {
  padding: 22px 4px;

  .head {
    align-items: center;
    display: flex;

    .head__content {
      align-items: flex-start;
      display: flex;
      flex: 1;
      justify-content: space-between;

      .logo-container {
        height: 50px;

        .logo {
          max-height: 25px;

          img {
            max-height: inherit;
          }
        }
      }

      .back {
        display: flex;
        align-items: center;
        justify-content: center;

        em {
          margin-right: 8px;
        }
      }
    }
  }
}

.enhance-header {
  animation: enhance-header linear both;
  animation-timeline: scroll(nearest block);
  animation-range: 0 50%;
}

@keyframes enhance-header {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    height: 0px; /* Final height */
    opacity: 0;
    transform: translateY(-50px);
  }
}
