<div class="container">
  <div class="head">
    <img src="favicon.ico" class="logo" alt="Logo" />
    @if(config.showContactUs) {
    <nx-link>
      <a class="contact-us" tabindex="0" nxQuoteLink="contact-us" nxQuoteLiteral="we-call-you"> </a>
    </nx-link>
    }
  </div>
  <div class="back">
    @if (config.showBack) {
    <nx-link nxStyle="block icon-left">
      <a (click)="return()" (keydown.enter)="return()" tabindex="0"
        ><nx-icon name="arrow-left" aria-hidden="true"></nx-icon> <span nxQuoteLiteral="back"></span
      ></a>
    </nx-link>
    }
  </div>
</div>
