@import 'core-globals';

.back {
  margin: 20px 0px 0px;
  height: 24px;

  a {
    color: #006192;
    font-weight: 700;
    font-size: 14px;
  }
}

.contact-us {
  color: #007ab3;
  font-weight: 700;
  font-size: 16px;
}

.container {
  padding: 22px 4px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-height: 25px;

  img {
    max-height: inherit;
  }
}
