<div class="container">
  <div class="head">
    <div class="logo">
      <img src="favicon.ico" alt="Logo" />
    </div>
    @if(config.showContactUs) {
    <nx-link
      [nxTrack]="{
        title: 'header' | quoteLiteral,
        label: 'we-call-you' | quoteLiteral
      }"
      [nxTrackEvents]="['click']"
    >
      <a class="contact-us" tabindex="0" nxQuoteLink="contact-us" nxQuoteLiteral="we-call-you"> </a>
    </nx-link>
    }
  </div>
  <div class="back">
    @if (config.showBack) {
    <nx-link
      nxStyle="block icon-left"
      [nxTrack]="{
        title: 'header' | quoteLiteral,
        label: 'header-back' | quoteLiteral
      }"
      [nxTrackEvents]="['click']"
    >
      <a (click)="return()" (keydown.enter)="return()" tabindex="0">
        <nx-icon name="arrow-left" aria-hidden="true"></nx-icon> <span nxQuoteLiteral="header-back"></span
      ></a>
    </nx-link>
    }
  </div>
</div>
