<div class="models-content">
  @for(model of modelButtons; track model) {
  <button class="model nx-margin-x-3xs nx-margin-y-3xs" [nxButton]="buttonType(model)" type="button" (click)="selectModel(model)">
    {{ model }}
  </button>
  }
  <div class="all-models nx-margin-y-xs">
    @if(showAll) {
    <nx-formfield [label]="'Label.Model' | translate">
      <nx-dropdown [value]="selectedModel" [showFilter]="true" (selectionChange)="onModelChange($event)">
        @for(model of models; track model) {
        <nx-dropdown-item [value]="model" />
        }
      </nx-dropdown>
    </nx-formfield>
    } @else {
    <button class="nx-margin-y-2xs" nxButton="tertiary small" type="button" (click)="toggleAllModels()">
      <nx-icon name="arrow-right" nxIconPositionStart aria-hidden="true"></nx-icon>{{ 'Label.AllModels' | translate }}
    </button>
    }
  </div>
</div>
