.option__container {
  --animation-duration: 0.3s;

  position: relative;
  display: block;
  border: 1px solid var(--card-border-color);
  border-radius: 6px;

  .option__checked {
    align-items: center;
    background-color: var(--success);
    border: 1px solid var(--success);
    border-radius: 0 6px 0 5px;
    color: var(--ui-01);
    display: flex;
    height: 18px;
    justify-content: center;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    z-index: 1;

    &.full-height {
      border-radius: 0 6px 6px 0;
      height: 100%;
      transition: opacity var(--animation-duration) ease-in-out, width var(--animation-duration) ease-in-out;
      width: 56px;
    }

    &:not(.full-height) {
      scale: 1;
      transition: opacity var(--animation-duration) ease-in-out, height var(--animation-duration) ease-in-out,
        width var(--animation-duration) ease-in-out;
    }

    @starting-style {
      opacity: 0;

      &.full-height {
        width: 0;
      }

      &:not(.full-height) {
        height: 0;
        width: 0;
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not(.disabled) {
    cursor: pointer;

    &:hover.selected {
      ::ng-deep .nx-button--tertiary {
        background-color: #e6f4f6 !important;
        transition: outline-color 0.5s ease-out, background-color 0.5s ease-out;
      }
    }

    &:hover:not(.selected) {
      background-color: var(--selectable-card-background-selected-hover-color) !important;
      transition: outline-color 0.5s ease-out, background-color 0.5s ease-out;

      ::ng-deep .nx-button--tertiary {
        background-color: var(--selectable-card-background-selected-hover-color) !important;
        transition: outline-color 0.5s ease-out, background-color 0.5s ease-out;
      }
    }
  }

  &.selected {
    // background: #e6f4f6;
    // haz un degradado del fondo elegante partiendo del color #e6f4f6
    background: rgb(230, 244, 246);
    background: radial-gradient(circle, rgba(230, 244, 246, 1) 0%, rgba(199, 219, 242, 1) 100%);
    border: 1px solid var(--interactive-primary);
  }
}
