.option__container {
  position: relative;
  display: block;
  outline: 1px solid var(--card-border-color);
  border-radius: 6px;

  .option__checked {
    align-items: center;
    background-color: var(--interactive-primary);
    border: 1px solid var(--interactive-primary);
    border-radius: 0 6px 0 5px;
    color: var(--ui-01);
    display: flex;
    height: 18px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    z-index: 1;

    &.full-height {
      border-radius: 0 6px 6px 0;
      height: 100%;
      width: 56px;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not(.disabled) {
    cursor: pointer;

    &:hover.selected {
      ::ng-deep .nx-button--tertiary {
        background-color: #e6f4f6 !important;
        transition: outline-color 0.5s ease-out, background-color 0.5s ease-out;
      }
    }

    &:hover:not(.selected) {
      background-color: var(--selectable-card-background-selected-hover-color) !important;
      transition: outline-color 0.5s ease-out, background-color 0.5s ease-out;

      ::ng-deep .nx-button--tertiary {
        background-color: var(--selectable-card-background-selected-hover-color) !important;
        transition: outline-color 0.5s ease-out, background-color 0.5s ease-out;
      }
    }
  }

  &.selected {
    background: #e6f4f6;
    outline: 1px solid var(--interactive-primary);
  }
}
