@import 'core-globals';

.option__container {
  --animation-duration: 0.3s;

  position: relative;
  display: block;
  border: 1px solid var(--card-border-color);
  border-radius: 6px;
  transition: background-color var(--animation-duration) ease-in-out, opacity var(--animation-duration) ease-in-out;

  .option__checked {
    align-items: center;
    background-color: var(--success);
    border: 1px solid var(--success);
    border-radius: 0 6px 0 5px;
    color: var(--ui-01);
    display: flex;
    height: 18px;
    justify-content: center;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    z-index: $z-index-bottom;

    &.full-height {
      border-radius: 0 6px 6px 0;
      height: 100%;
      transition: opacity var(--animation-duration) ease-in-out, width var(--animation-duration) ease-in-out;
      width: 56px;
    }

    &:not(.full-height) {
      scale: 1;
      transition: opacity var(--animation-duration) ease-in-out, height var(--animation-duration) ease-in-out,
        width var(--animation-duration) ease-in-out;
    }

    @starting-style {
      opacity: 0;

      &.full-height {
        width: 0;
      }

      &:not(.full-height) {
        height: 0;
        width: 0;
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not(.disabled) {
    cursor: pointer;

    ::ng-deep {
      .nx-button--primary {
        background-color: rgb(0, 122, 179);
        background: radial-gradient(circle, rgba(0, 122, 179, 1) 0%, rgba(0, 122, 179, 0.5) 100%);
      }

      .nx-button--tertiary {
        background-color: transparent !important;
        background: radial-gradient(circle, rgba(199, 219, 242, 1) 0%, rgba(230, 244, 246, 1) 100%) Impo !important;
      }
    }

    &:hover.selected {
      ::ng-deep .nx-button--tertiary {
        background-color: var(--selectable-hover-selected);
        background: var(--selectable-hover-selected);
      }
    }

    &:hover:not(.selected) {
      background-color: var(--comparison-table-selected-column-background-color) !important;
      opacity: 1;
    }
  }

  &.selected {
    background: var(--selectable-selected);
    border: 1px solid var(--interactive-primary);
  }
}
