<article class="component-container">
  <quote-header-title>¿Eres cliente de Shagui?</quote-header-title>
  <section class="form-container">
    <quote-selectable-option [selected]="isClient">
      <button nxButton="tertiary medium" type="button" (click)="onIsClientChange(true)">Si</button>
    </quote-selectable-option>
    <quote-selectable-option [selected]="isClient === false">
      <button nxButton="tertiary medium" type="button" (click)="onIsClientChange(false)">No</button>
    </quote-selectable-option>
  </section>
</article>
