<article>
  <quote-header-title>
    <div class="center__header">
      <div class="avatar__car nx-margin-y-m">
        <nx-icon name="product-smartphone" type="info" fill="true" outline="true" size="m" aria-hidden="true" />
      </div>
    </div>
  </quote-header-title>
  <section class="form-container">
    <p nxCopytext="large" class="nx-margin-bottom-xs nx-margin-x-xs">
      Lo sentimos, no podemos ofrecerte el seguro que necesitas en esta ocasión.
    </p>
  </section>
  <quote-footer [config]="footerConfig" />
</article>
