<!-- eslint-disable @angular-eslint/template/elements-content -->
<article>
  <quote-header-title>
    <div class="center__header">
      <h3 nxHeadline="subsection-small" class="nx-font-weight-bold" nxQuoteLiteral="header"></h3>
      <div class="avatar__container nx-icon--fill nx-margin-y-m">
        <em class="fa-solid fa-xl fa-car-rear"></em>
      </div>
      <span nxQuoteLiteral="subheader"></span>
    </div>
  </quote-header-title>
  <section class="form-container coverages nx-margin-bottom-l">
    <p nxCopytext="normal" class="coverage nx-margin-bottom-xs">
      <em class="fa-solid fa-check nx-margin-right-xs"></em><span nxQuoteLiteral="coverage-1"></span>
    </p>
    <p nxCopytext="normal" class="coverage nx-margin-bottom-xs">
      <em class="fa-solid fa-check nx-margin-right-xs"></em><span nxQuoteLiteral="coverage-2"></span>
    </p>
    <p nxCopytext="normal" class="coverage nx-margin-bottom-xs">
      <em class="fa-solid fa-check nx-margin-right-xs"></em><span nxQuoteLiteral="coverage-3"></span>
    </p>
  </section>
  <quote-footer [config]="footerConfig" />
</article>
