<article>
  <quote-header-title>
    <div class="center__header">
      <h3 nxHeadline="subsection-small" class="nx-font-weight-bold">Calcular mi seguro</h3>
      <div class="avatar__car nx-margin-y-m">
        <nx-icon name="product-car-small" type="info" fill="true" outline="true" size="m" aria-hidden="true" />
      </div>
      Estás a 2 minutos de ahorrar tiempo y dinero sin renunciar a las mejores coberturas.
    </div>
  </quote-header-title>
  <section class="form-container nx-margin-bottom-l">
    <p nxCopytext="normal" class="nx-margin-bottom-xs">
      <nx-icon class="nx-margin-right-xs" name="check" size="s" />Asistencia en carretera nacional e internacional 24/7
    </p>
    <p nxCopytext="normal" class="nx-margin-bottom-xs">
      <nx-icon class="nx-margin-right-xs" name="check" size="s" />Te llevamos el coche de sustitución a tu casa
    </p>
    <p nxCopytext="normal" class="nx-margin-bottom-xs">
      <nx-icon class="nx-margin-right-xs" name="check" size="s" />Red de talleres excelentes a tu disposición
    </p>
  </section>
  <quote-footer [config]="footerConfig" />
</article>
