<article class="component-container">
  @let years = 5;
  <quote-header-title
    ><span
      uiQuoteLiteral="header"
      [uiQuoteLitealParams]="{
        years: years.toString(),
        'literal-last': years > 1 ? 'los últimos' : 'el último',
        'literal-year': { value: years > 1 ? 'Label.Years' : 'Label.Year', type: 'translate' }
      }"
    ></span
  ></quote-header-title>
  <section class="form-container">
    <div class="selectable-container">
      <quote-selectable-option [selected]="selectedAccidents === 0" [fullHeight]="true" (uiSelect)="selectAccidents(0)">
        <div class="card-container">
          <span nxCopytext="normal" class="nx-margin-s nx-margin-left-4m">No</span>
        </div>
      </quote-selectable-option>
    </div>
    <div class="selectable-container">
      <quote-selectable-option [selected]="selectedAccidents === 1" [fullHeight]="true" (uiSelect)="selectAccidents(1)">
        <div class="card-container">
          <span nxCopytext="normal" class="nx-margin-s nx-margin-left-4m">1</span>
        </div>
      </quote-selectable-option>
    </div>
    <div class="selectable-container">
      <quote-selectable-option [selected]="selectedAccidents === 2" [fullHeight]="true" (uiSelect)="selectAccidents(2)">
        <div class="card-container">
          <span nxCopytext="normal" class="nx-margin-s nx-margin-left-4m">2</span>
        </div>
      </quote-selectable-option>
    </div>
    <div class="selectable-container">
      <quote-selectable-option [selected]="selectedAccidents === 3" [fullHeight]="true" (uiSelect)="selectAccidents(3)">
        <div class="card-container">
          <span nxCopytext="normal" class="nx-margin-s nx-margin-left-4m">3</span>
        </div>
      </quote-selectable-option>
    </div>
    <div class="selectable-container">
      <quote-selectable-option [selected]="selectedAccidents === 4" [fullHeight]="true" (uiSelect)="selectAccidents(4)">
        <div class="card-container">
          <span nxCopytext="normal" class="nx-margin-s nx-margin-left-4m">4</span>
        </div>
      </quote-selectable-option>
    </div>
    <div class="selectable-container">
      <quote-selectable-option [selected]="selectedAccidents === 5" [fullHeight]="true" (uiSelect)="selectAccidents(5)">
        <div class="card-container">
          <span
            nxCopytext="normal"
            class="nx-margin-s nx-margin-left-4m"
            uiQuoteLiteral="more-accidents"
            [uiQuoteLitealParams]="{ value: '5' }"
          ></span>
        </div>
      </quote-selectable-option>
    </div>
  </section>
  <quote-footer [config]="{ showNext: false }">
    <div class="extra__footer__info">
      <quote-footer-info icon="fa-location-arrow"><span uiQuoteLiteral="footer-info"></span></quote-footer-info>
    </div>
  </quote-footer>
</article>
