<article class="component-container">
  <quote-header-title>
    <span nxQuoteLiteral="header"></span>
  </quote-header-title>
  <section class="form-container">
    <quote-zone>
      <article class="hour__selections nx-margin-bottom-s">
        <header class="hour__selections__header nx-margin-bottom-2xs nx-font-weight-bold" nxCopytext="normal">
          <span nxQuoteLiteral="morning"></span>
        </header>
        <section class="hour__selections__section">
          @for(hour of hours.am; track hour) {
          <div class="hour__selection nx-margin-2xs">
            <quote-text-card
              [fullHeight]="false"
              [selected]="hour === selectedHour"
              data="{{ hour }} h"
              [nxTrack]="{
                title: 'header' | quoteLiteral,
                label: hour,

              }"
              [nxTrackEvents]="['click']"
              (uiSelect)="selectHour(hour)"
            />
          </div>
          }
        </section>
      </article>
    </quote-zone>
    <quote-zone>
      <article class="hour__selections">
        <header class="hour__selections__header nx-margin-bottom-2xs nx-font-weight-bold" nxCopytext="normal">
          <span nxQuoteLiteral="afternoon"></span>
        </header>
        <section class="hour__selections__section">
          @for(hour of hours.pm; track hour) {
          <div class="hour__selection nx-margin-2xs">
            <quote-text-card
              [fullHeight]="false"
              [selected]="hour === selectedHour"
              data="{{ hour }} h"
              [nxTrack]="{
                title: 'header' | quoteLiteral,
                label: hour
              }"
              [nxTrackEvents]="['click']"
              (uiSelect)="selectHour(hour)"
            />
          </div>
          }
        </section>
      </article>
    </quote-zone>
  </section>
  <quote-footer
    [trackInfo]="{
      title: 'header' | quoteLiteral,
      contactHour: selectedHour
    }"
    (uiOnNext)="updateValidData()"
  />
</article>
