.hour__selections__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hour__selections__section {
  display: inline-flex;
  flex-wrap: wrap;

  .hour__selection {
    width: 155px;
    height: 56px;

    .card-container {
      align-items: start;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}
