<article class="component-container">
  <quote-header-title>
    <span class="coverages__title" nxHeadline="subsection-medium" nxQuoteLiteral="coverages-modal-header"></span>
  </quote-header-title>

  <section class="form-container">
    <nx-tab-group [selectedIndex]="selectedPriceIndex" [mobileAccordion]="false">
      @for(price of prices; track price.modalityId) {
      <nx-tab class="" [label]="price.modalityDescription">
        <div class="coverages">
          @for(coverage of price.coverageList; track coverage.code) {
          <div class="coverage">
            <p nxCopytext="normal" class="nx-margin-right-m">{{ coverage.text }}</p>
            <em class="coverage-icon nx-margin-right-xs fa-solid fa-check"></em>
          </div>
          }
        </div>
      </nx-tab>
      }
    </nx-tab-group>
  </section>
</article>
