.coverages__title {
  display: flex;
  justify-content: center;
  text-align: center;
}

.coverages {
  .coverage {
    align-items: flex-start;
    display: flex;

    p {
      flex: 1;
      margin: 0;
      padding: 0;
    }

    .coverage-icon {
      color: var(--success);
    }
  }
}
