<article class="price-container" [ngClass]="{ selected }">
  <quote-header-title>
    <div nxCopytext="small" class="popular-header" [ngClass]="{ 'popular-price': price.popular }">
      @if(price.popular) {
      <nx-icon name="star-o" size="s" class="nx-margin-x-3xs" />
      El más contratado }
    </div>
    <h3 class="price-title">
      {{ price.modalityFullDescription }}
    </h3>
  </quote-header-title>
  <section class="form-container">
    <div class="excess"></div>
    <div class="nx-margin-bottom-s">
      <p nxCopytext="large" class="price">
        <span class="price-value">
          {{ priceInteger }}<span class="price-decimal">,{{ priceDecimal }} €</span>
        </span>
        <span nxCopytext="small" class="nx-margin-left-3xs">Desde hoy - {{ now | date : 'dd/MM/YYYY' }}</span>
      </p>
    </div>
    <div class="coverages">
      @for(coverage of price.coverageList; track coverage.code) {
      <p nxCopytext="normal" class="coverage nx-margin-bottom-xs">
        <nx-icon class="coverage-icon nx-margin-right-xs" name="check" size="s" />{{ coverage.description }}
      </p>
      }
      <div class="view-coverages">
        <nx-link nxStyle="block icon-right">
          <a routerLink="/documentation" (click)="showCoverages()"
            ><nx-icon name="password-show-o" aria-hidden="true"></nx-icon>Ver coberturas</a
          >
        </nx-link>
      </div>
    </div>
  </section>
  <footer class="price-footer nx-margin-x-m">
    <quote-footer [config]="footerConfig" [mobileMode]="true">
      <button class="footer-option nx-margin-y-2xs w-100" nxButton="secondary" type="button" (click)="contactUs()">
        <span nxCopytext="medium" class="nx-font-weight-bold">TE LLAMAMOS</span>
      </button>
    </quote-footer>
  </footer>
</article>
