<!-- eslint-disable @angular-eslint/template/elements-content -->
<article class="price-container" [ngClass]="{ selected }">
  <quote-header-title>
    <div class="popular-header" [ngClass]="{ 'popular-price': price.popular }">
      @if(price.popular) {
      <em class="fa-regular fa-star fa-xs nx-margin-x-xs"></em>
      <span nxQuoteLiteral="popular" nxCopytext="normal"></span>
      }
    </div>
    <h3 class="price-title">
      {{ price.modalityDescription }}
    </h3>
  </quote-header-title>
  <section class="form-container">
    <div class="offering-fee">
      @if(fee.length) {
      <div nxCopytext="large" class="fee-title nx-margin-bottom-2xs" nxQuoteLiteral="fee-header"></div>
      <div class="fee-values">
        <form [formGroup]="form">
          @for(f of fee; track f) {
          <nx-radio-group formControlName="feeSelectedIndex">
            <nx-radio labelSize="small" [value]="$index">
              <span nxCopytext="large" class="nx-font-weight-bold">{{ fee }} {{ 'currency' | quoteLiteral }}</span>
            </nx-radio>
          </nx-radio-group>
          }
        </form>
      </div>
      }
    </div>
    <div class="nx-margin-bottom-s">
      <p nxCopytext="large" class="price">
        <span class="price-value">
          {{ priceInteger }}<span class="price-decimal">,{{ priceDecimal }} {{ 'currency' | quoteLiteral }}</span>
        </span>
        <span
          nxCopytext="medium"
          class="nx-margin-left-3xs"
          nxQuoteLiteral="from-now"
          [nxQuoteLitealParams]="{ value: (now | date : 'dd/MM/YYYY') || '' }"
        ></span>
      </p>
    </div>
    <div class="coverages nx-margin-bottom-s">
      @for(coverage of price.coverageList; track coverage.code) {
      <p nxCopytext="normal" class="coverage nx-margin-bottom-xs">
        <em class="coverage-icon fa-solid fa-check nx-margin-y-3xs nx-margin-x-xs"></em>{{ coverage.text }}
      </p>
      }
    </div>
    <div class="view-coverages">
      <nx-link nxStyle="block icon-right">
        <a routerLink="/documentation" (click)="showCoverages()">
          <div>
            <span nxQuoteLiteral="view-coverages"></span>
          </div>
        </a>
      </nx-link>
    </div>
  </section>
  <footer class="price-footer nx-margin-x-m nx-margin-bottom-xs">
    <quote-footer [config]="footerConfig" [mobileMode]="true">
      <button
        class="footer-option nx-margin-y-2xs"
        nxButton="primary"
        type="button"
        [nxTrack]="{
          title: 'header' | quoteLiteral,
          label: 'footer-next' | quoteLiteral,
          typology: price.modalityDescription,
        }"
        [nxTrackEvents]="['click']"
        (click)="callNow()"
      >
        @if (isMobile) {
        <a
          href="tel:{{ 'contact-us-phone' | quoteLiteral }}"
          nxCopytext="medium"
          class="uppercase nx-font-weight-bold"
          nxQuoteLiteral="footer-next"
        ></a>
        } @else {
        <span nxCopytext="medium" class="uppercase nx-font-weight-bold" [nxQuoteLiteral]="'contact-us-phone'"> </span>
        }
      </button>
      <button
        class="footer-option nx-margin-y-2xs"
        nxButton="secondary"
        type="button"
        [nxTrack]="{
        title: 'header' | quoteLiteral,
        label: 'we-call-you' | quoteLiteral,
        typology: price.modalityDescription,
      }"
        [nxTrackEvents]="['click']"
        (click)="contactUs()"
      >
        <span nxCopytext="medium" class="uppercase nx-font-weight-bold" nxQuoteLiteral="we-call-you"></span>
      </button>
    </quote-footer>
  </footer>
</article>
