.products-info {
  align-items: center;
  display: flex;

  .products-info-literal {
    flex: 1;

    &.privatity {
      display: block;
    }
  }
}

.align-right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
