<article class="component-container">
  <quote-header-title>
    <span uiQuoteLiteral="header"></span>
  </quote-header-title>
  <div class="form-container">
    @for(vehicle of vehicleOptions; track vehicle; let index = $index) {
    <div class="selectable-container">
      <quote-selectable-option
        [selected]="vehicle.vehicleCode === selectedVehicle?.vehicleCode"
        [fullHeight]="true"
        (uiSelect)="selectVehicle(vehicle)"
      >
        <div class="card-container nx-margin-left-4m">
          <span nxCopytext="medium" class="card-text nx-margin-top-s nx-font-weight-bold"> {{ vehicle.make }} {{ vehicle.model }}</span>
          <span nxCopytext="medium" class="card-text nx-margin-bottom-s">
            {{ vehicle.fuel?.data }} - {{ vehicle.power }} CV - {{ vehicle.yearOfManufacture }}
          </span>
        </div>
      </quote-selectable-option>
    </div>
    }
  </div>
  <quote-footer [config]="footerConfig">
    <div class="extra__footer__options">
      <button class="nx-margin-y-2xs" nxButton="tertiary small" type="button" (click)="continue()">
        <span nxCopytext="medium" class="uppercase nx-font-weight-bold" uiQuoteLiteral="continue-without-car"></span>
      </button>
    </div>
  </quote-footer>
</article>
