<article class="component-container">
  <quote-header-title>Selecciona el modelo</quote-header-title>
  <div class="form-container">
    @for(vehicle of vehicleOptions; track vehicle; let index = $index) {
    <div class="selectable-container">
      <quote-selectable-option [selected]="vehicle.power === selectedVehicle?.power" (uiSelect)="selectVehicle(vehicle)">
        <div class="card-container">
          <span nxCopytext="medium" class="card-text nx-margin-top-s nx-font-weight-bold"> {{ vehicle.make }} {{ vehicle.model }}</span>
          <span nxCopytext="medium" class="card-text nx-margin-bottom-s">
            {{ vehicle.fuel?.data }} - {{ vehicle.power }} CV - {{ vehicle.yearOfManufacture }}
          </span>
        </div>
      </quote-selectable-option>
    </div>
    }
  </div>
  <quote-footer [config]="footerConfig">
    <div class="extra__footer__options">
      <button class="nx-margin-y-2xs w-100" nxButton="tertiary small" type="button" (click)="continue()">
        <span nxCopytext="medium" class="nx-font-weight-bold">CONTINUAR SIN MODELO</span>
      </button>
    </div>
  </quote-footer>
</article>
