.w-100 {
  width: 100% !important;
}

.form-container {
  flex-direction: column;

  .selectable-container {
    .card-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .card-text {
        width: 100%;
        padding: 0 16px;
      }
    }
  }

  .selectable-container + .selectable-container {
    margin-top: 16px;
  }
}
