.form-container {
  flex-direction: column;

  .selectable-row {
    .card-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .card-text {
        width: 100%;
        padding: 0 16px;
      }
    }

    .card-placeholder {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.extra__footer__options {
  display: flex;
  justify-content: center;

  .uppercase {
    text-transform: uppercase;
  }
}
