.w-100 {
  width: 100% !important;
}

.form-container {
  min-width: 340px;
  flex-direction: column;

  .card-text {
    width: 100%;
    padding: 0 16px;
  }

  .card-container + .card-container {
    margin-top: 16px;
  }
}
