.app__container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .app__header {
    .app__header__title {
      text-align: center;
    }

    .quote-stepper {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100px;

      quote-stepper {
        flex: 1;
      }
    }
  }

  .app__content {
    display: block;
    flex: 1;
  }

  .app__footer {
    display: flex;
    flex-direction: column;

    .app__footer__copyright {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-end;
      text-align: center;
      width: 100%;

      .nx-link {
        font-size: 12px;
      }
    }
  }
}
