<main>
  <quote-loading />
  <article nxLayout="content-section grid maxwidth nogutters" class="app__container">
    <header class="app__header nx-margin-bottom-xl">
      <quote-header></quote-header>
    </header>

    <div class="app__content">
      <router-outlet />
    </div>

    <footer class="app__footer nx-margin-top-xs">
      <div class="app__footer__copyright nx-margin-top-s">
        <span nxCopytext="small" class="nx-margin-bottom-s">Términos y condiciones</span>
        <span nxCopytext="small" class="nx-margin-bottom-s">Política de cookies</span>
        <span nxCopytext="small" class="nx-margin-bottom-s">
          <nx-link size="small">
            <a routerLink="/termofuse">Aviso legal y privacidad</a>
          </nx-link>
        </span>
        <span nxCopytext="small" class="nx-margin-bottom-s nx-font-weight-bold">© Shagui 2025</span>
      </div>
    </footer>
  </article>
</main>
