.app__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;

  .app__header {
    .app__header__title {
      text-align: center;
    }
  }

  .outlet__container {
    display: flex;
    flex: 1;

    .outlet__content {
      display: block;
      flex: 1;
      overflow: hidden;
    }

    .captcha__content {
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: center;
      overflow: hidden;
    }
  }

  .app__footer {
    display: flex;
    flex-direction: column;

    .app__footer__copyright {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-end;
      text-align: center;
      width: 100%;

      .nx-link {
        font-size: 12px;
      }
    }
  }
}
