@import 'core-globals';

.app__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;

  .app__header {
    background: var(--ui-01);
    position: sticky;
    top: 0;
    z-index: $z-index-middle;

    animation: enhance-header linear both;
    animation-timeline: scroll(nearest block);
    animation-range: 0 50%;

    @keyframes enhance-header {
      to {
        backdrop-filter: blur(5px);
        opacity: 0.9;
      }
    }
  }

  .outlet__container {
    display: flex;
    flex: 1;
    flex-direction: column;

    .outlet__content {
      display: flex;
      flex: 1;
      overflow: hidden;
    }
  }

  .app__footer {
    display: flex;
    flex-direction: column;

    .app__footer__copyright {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-end;
      text-align: center;
      width: 100%;
    }
  }
}
