@defer(on viewport) {
<quote-selectable-option [selected]="selected" (uiSelect)="selectIcon()">
  <div class="card-container" [ngClass]="{ selected, labeled: showLabel }">
    <div nxAvatar size="small" class="quote-avatar color-background-icon nx-margin-bottom-s">
      <!-- @howto default image on error -->
      <img class="icon-image" onerror="this.src='assets/images/wm/no-image.svg'" [alt]="data.data" [src]="data.icon || data.data" />
    </div>

    @if(showLabel){
    <span
      nxCopytext="normal"
      [ngClass]="{ 'nx-font-weight-bold': selected }"
      [nxQuoteLiteral]="data.index"
      [uiQuoteDefaultLiteral]="data.data"
    ></span>
    }
  </div>
</quote-selectable-option>
} @placeholder {
<div class="card-placeholder"></div>
}
