.card-container {
  height: 88px;
  width: 150px;

  &.labeled {
    height: 128px;
  }

  .quote-avatar {
    width: 56px;
    height: 56px;

    &.color-background-icon {
      background-color: #eff6f6;
    }

    .icon-image {
      max-height: 38px;
      max-width: 38px;
    }
  }
}
