.card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 88px;
  justify-content: center;
  width: 150px;

  &.labeled {
    height: 128px;
  }

  .quote-avatar {
    width: 56px;
    height: 56px;

    &.color-background-icon {
      background-color: #eff6f6;
    }

    .icon-image {
      max-height: 38px;
      max-width: 38px;
    }
  }
}

.card-placeholder {
  align-items: center;
  display: flex;
  height: 88px;
  justify-content: center;
  width: 150px;
}
