<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<article class="component-container">
  <section class="form-container">
    <div #carrouselInner class="inner__carrousel">
      <div #carrouselTrack class="track nx-margin-s" (touchstart)="swipeStart($event)" (touchend)="swipeEnd($event)">
        @for(price of prices; track price.modalityId) {
        <div class="carousel__card" [ngClass]="{ selected: selectedPriceIndex === $index }" (click)="selectSteper($index)">
          <quote-offering-price-card
            [price]="price"
            [selected]="selectedPriceIndex === $index"
            (uiShowCoverages)="showCoverages($index)"
            (uiSelectFee)="selectFee($event)"
            (uiContactUs)="contactUs($event)"
          />
        </div>
        }
      </div>
    </div>

    <div class="carousel__stepers nx-margin-top-s">
      @for(price of prices; track price.modalityId) {
      <div
        class="carousel__steper"
        [ngClass]="{ 'selected-price': selectedPriceIndex === $index }"
        (click)="selectSteper($index)"
        (keydown)="selectSteper($index)"
        tabindex="0"
      ></div>
      }
    </div>
  </section>
</article>

<ng-template #priceCoverages>
  <div class="offering-coverages" nxModalContent tabindex="0">
    <quote-offering-coverages [prices]="prices" [selectedPriceIndex]="selectedPriceIndex"></quote-offering-coverages>
  </div>
</ng-template>
