@import './styles/carousel.scss';

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.form-container {
  .inner__carrousel {
    display: block;
    overflow: hidden;

    .track {
      display: flex;
      transition: transform 0.2s ease-in-out;
      width: fit-content;

      .carousel__card {
        border-radius: 10px;
        position: relative;

        &.selected {
          background-color: var(--ui-01);

          &::after,
          &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
            // background-image: conic-gradient(from var(--angle), transparent 70%, var(--success));
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            padding: 3px;
            border-radius: 10px;
            animation: spin 3s linear infinite;
          }

          &::before {
            filter: blur(1.5rem);
            opacity: 0.5;
          }

          @keyframes spin {
            from {
              --angle: 0deg;
            }
            to {
              --angle: 360deg;
            }
          }
        }
      }
    }
  }

  .carousel__stepers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .carousel__steper {
      height: 8px;
      border: 1px solid var(--interactive-primary);
      border-radius: 100%;
      cursor: pointer;
      width: 8px;
      transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out;

      &.selected-price {
        background-color: var(--interactive-primary);
        border-radius: 22px;
        height: 8px;
        gap: 0px;
        opacity: 0px;
        width: 28px;
        transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out;
      }
    }

    .carousel__steper + .carousel__steper {
      margin-left: 8px;
    }
  }
}
