<article class="component-container">
  <section class="form-container">
    <div #carrouselInner class="inner__carrousel">
      <div #carrouselTrack class="track nx-margin-s" (touchstart)="swipeStart($event)" (touchend)="swipeEnd($event)">
        @for(price of prices; track price.modalityId) {
        <div class="carousel__card">
          @defer {
          <quote-offering-price-card [price]="price" [selected]="selectedPriceIndex === $index" />
          }
        </div>
        }
      </div>
    </div>
    <div class="carousel__stepers nx-margin-top-s">
      @for(price of prices; track price.modalityId) {
      <div class="carousel__steper" [ngClass]="{ 'selected-price': selectedPriceIndex === $index }" (click)="selectSteper($index)"></div>
      }
    </div>
  </section>
</article>
