@import '../../styles/carousel.scss';

.price-container {
  border: 1px solid var(--ui-04);
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px #00000029;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: $carousel-card-margin;
  width: $carousel-card-width;

  &.selected {
    background-color: var(--ui-01);

    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
      // background-image: conic-gradient(from var(--angle), transparent 70%, var(--success));
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      border-radius: 10px;
      animation: spin 3s linear infinite;
    }

    &::before {
      filter: blur(0.8rem);
      opacity: 0.8;
    }

    @keyframes spin {
      from {
        --angle: 0deg;
      }
      to {
        --angle: 360deg;
      }
    }
  }

  .uppercase {
    text-transform: uppercase;
  }

  .popular-header {
    align-items: center;
    border-radius: 10px 10px 0 0;
    display: flex;
    height: 38px;
    justify-content: center;

    &.popular-price {
      color: var(--ui-01);
      background-color: var(--interactive-primary);
    }
  }

  .price-title {
    height: 65px;
    text-align: center;
  }

  .form-container {
    padding: 0 24px;

    .offering-fee {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 82px;
      justify-content: center;

      .fee-values {
        display: flex;
        flex: 1;
      }
    }

    .price {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 70px;

      .price-value {
        font-size: 40px;
        line-height: 48.41px;
        font-weight: bold;

        .price-decimal {
          font-size: 22px;
          font-weight: 700;
          line-height: 48.41px;
        }
      }
    }

    .coverages {
      height: 150px;
      overflow: hidden;

      .coverage {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;

        .coverage-icon {
          color: var(--success);
        }
      }
    }

    .view-coverages {
      display: flex;
      justify-content: center;
    }
  }
}
