<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<article class="stepper__container">
  @if(stepperData) {
  <header class="nx-margin-y-2xs">
    <h3 nxCopytext="normal" class="nx-font-weight-semibold">
      {{ stepperData.stepper.steps[stepperIndex].label }}
    </h3>
  </header>
  <section class="stepper__list">
    @for(step of stepperData.stepper.steps; track step.key) { @if(step.key === stepperData.stepKey) {
    <div class="stepper__item active" [nxTooltip]="step.label" (click)="onStepClick(step)">
      <nx-icon name="point" size="auto"></nx-icon>
    </div>
    }@else if (stepperIndex > $index) {
    <div class="stepper__item complete" [nxTooltip]="step.label" (click)="onStepClick(step)">
      <nx-icon name="check" size="auto"></nx-icon>
    </div>
    } @else {
    <div class="stepper__item disabled" [nxTooltip]="step.label"></div>
    } @if(!$last) {
    <div class="stepper__item__line" [ngClass]="{ solid__line: stepperIndex > $index }"></div>
    } }
  </section>
  }
</article>
