<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<article class="stepper__container">
  @if(stepperData) {
  <header class="nx-margin-y-2xs">
    <h3 nxCopytext="normal" class="nx-font-weight-semibold">
      {{ stepperData.stepper.steps[stepperIndex].label }}
    </h3>
  </header>
  <section class="stepper__list">
    @for(step of stepperData.stepper.steps; track step.key) { @let active=step.key === stepperData.stepKey; @let complete=stepperIndex >
    $index; @let disabled=stepperIndex < $index;
    <div class="stepper__item" [ngClass]="{ active, complete, disabled }" [nxTooltip]="step.label" (click)="onStepClick(step)">
      <div class="stepper__item__progress">
        @if(complete) {
        <nx-icon name="check" size="auto"></nx-icon>
        }
      </div>
    </div>
    @if(!$last) {
    <div class="stepper__item__line" [ngClass]="{ solid__line: stepperIndex > $index }"></div>
    } }
  </section>
  }
</article>
