.stepper__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .stepper__list {
    align-items: center;
    display: flex;
    width: 100%;

    .stepper__item,
    .stepper__item__progress {
      border-radius: 50px;
    }

    .stepper__item {
      color: var(--text-01);
      cursor: pointer;
      height: 20px;
      border: 1px solid var(--interactive-primary);
      position: relative;
      width: 20px;

      .stepper__item__progress {
        align-items: center;
        background-color: var(--interactive-primary);
        display: flex;
        justify-content: center;
        height: 100%;
        opacity: 0;
        position: absolute;
        scale: 0;
        transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, opacity 0.5s ease-in-out, scale 0.5s ease-in-out;
        width: 100%;
      }

      &.active {
        color: var(--text-02);

        .stepper__item__progress {
          opacity: 1;
          scale: 0.5;
        }
      }

      &.complete {
        color: var(--text-02);

        .stepper__item__progress {
          opacity: 1;
          scale: 1;
        }
      }

      &.disabled {
        cursor: not-allowed;
        border-color: var(--disabled-03);

        .stepper__item__progress {
          background-color: var(--disabled-03);
          opacity: 1;
          scale: 1;
        }
      }
    }

    .stepper__item__line {
      border-top: 5px dotted var(--ui-05);
      flex: 1;
      margin: 0 5px;

      &.solid__line {
        border: none;
        border-top: 5px solid var(--interactive-primary);
      }
    }
  }
}
