<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<article class="stepper__container">
  @if(stepperData) {
  <header class="nx-margin-y-2xs">
    @if(showLabel) {
    <h3 nxCopytext="normal" class="nx-font-weight-semibold" [innerHTML]="stepperData.stepper.steps[stepperIndex].label | quoteLiteral"></h3>
    }
  </header>
  <section class="stepper__list">
    @if(showSteps) { @for(step of stepperData.stepper.steps; track step.key) { @let _active=step.key === stepperData.stepKey; @let
    _complete=stepperIndex > $index; @let _disabled=stepperIndex < $index;
    <div
      class="stepper__item"
      [ngClass]="{ active: _active, complete: _complete, disabled: _disabled }"
      [nxTooltip]="step.label | quoteLiteral"
      (click)="(_active || _complete) && onStepClick(step)"
    >
      <div class="stepper__item__progress">
        <nx-icon class="stepper__state" [ngClass]="{ complete: _complete }" name="check" size="auto"></nx-icon>
      </div>
    </div>
    @if(!$last) {
    <div class="stepper__item__line" [ngClass]="{ solid__line: stepperIndex > $index, dotted__line: stepperIndex <= $index }">
      <div class="stepper__item__line__solid"></div>
      <div class="stepper__item__line__dotted"></div>
    </div>
    } } }
  </section>
  }
</article>
