.stepper__container {
  --line-transition-time: 0.5s;
  --stepper-transition-time: 1s;

  align-items: center;
  display: flex;
  min-height: 75px;
  flex-direction: column;
  justify-content: center;

  .stepper__list {
    align-items: center;
    display: flex;
    width: 100%;

    .stepper__item,
    .stepper__item__progress {
      border-radius: 50px;

      .stepper__state {
        opacity: 0;
        transition: opacity var(--stepper-transition-time) ease-in-out;

        &.complete {
          opacity: 1;
        }
      }
    }

    .stepper__item {
      border: 1px solid;
      color: var(--text-01);
      cursor: pointer;
      height: 16px;
      position: relative;
      width: 16px;

      .stepper__item__progress {
        align-items: center;
        background-color: var(--interactive-primary);
        display: flex;
        justify-content: center;
        height: 100%;
        position: absolute;
        transition: background-color var(--stepper-transition-time) ease-in-out, border-color 1s ease-in-out,
          opacity var(--stepper-transition-time) ease-in-out, scale var(--stepper-transition-time) ease-in-out;
        width: 100%;
      }

      &.active {
        border-color: var(--interactive-primary);
        color: var(--text-02);

        .stepper__item__progress {
          opacity: 1;
          scale: 0.5;
        }
      }

      &.complete {
        border-color: var(--interactive-primary);
        color: var(--text-02);

        .stepper__item__progress {
          opacity: 1;
          scale: 1;
        }
      }

      &.disabled {
        border-color: var(--ui-04);
        cursor: not-allowed;

        .stepper__item__progress {
          background-color: var(--disabled-04);
          opacity: 1;
          scale: 1;
        }
      }
    }

    .stepper__item__line {
      border-radius: 10px;
      display: flex;
      flex: 1;
      margin: 0 5px;
      overflow: hidden;

      .stepper__item__line__solid {
        border: none;
        border-top: 5px solid var(--interactive-primary);
        transition: width var(--line-transition-time) ease-in-out;
        width: 50%;
      }

      .stepper__item__line__dotted {
        border: none;
        border-top: 5px dotted var(--ui-05);
        width: 50%;
        transition: width var(--line-transition-time) ease-in-out;
      }

      &.solid__line {
        .stepper__item__line__solid {
          width: 100%;
        }

        .stepper__item__line__dotted {
          width: 0%;
        }
      }

      &.dotted__line {
        .stepper__item__line__solid {
          width: 0%;
        }

        .stepper__item__line__dotted {
          width: 100%;
        }
      }
    }
  }
}
