.captcha-container {
  --animation-duration: 0.7s;
  --background-color: transparent;

  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 600px; /* Limit the maximum width of the container */

  .captcha-items {
    align-items: center;
    background-color: var(--background-color);
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
    user-select: none; /* Prevent text selection */
    width: 100%; /* Ensure the container takes up the full available width */

    .captcha-character {
      align-items: center;
      border: 1px solid var(--card-border-color);
      border-radius: 15px;
      cursor: pointer;
      display: flex;
      height: 85px;
      justify-content: center;
      margin: 2px;
      opacity: 0.7;
      padding: 5px;
      transition: background-color var(--animation-duration) ease-in-out, opacity var(--animation-duration) ease-in-out;
      width: 85px;

      &.colored {
        color: var(--danger);
      }

      &:hover {
        background-color: var(--comparison-table-selected-column-background-color) !important;
        opacity: 1;
      }

      &.selected {
        background-color: var(--warning);
        opacity: 1;
      }

      em {
        font-size: 3rem;
        transition: transform ease-in-out 1s;
      }
    }
  }

  .progress-bar {
    background-color: var(--background-color);
    border-radius: 0 0 5px 5px;
    display: flex;
    height: 10px;
    justify-content: center;
    max-width: 600px;
    width: 100%;

    .progress {
      background-color: var(--success);
      border-radius: 5px;
      height: 100%;
      opacity: 0.5;
      transition: width 1s linear;
    }
  }
}
