<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="captcha-container">
  <div class="captcha-items">
    @for(image of captchaImageIndexes; track $index) {
    <div
      class="captcha-character"
      [ngClass]="{ colored: coloredIndices.includes($index), selected: selectedIndices.includes($index) }"
      (click)="onCharacterClick($index)"
    >
      <em class="fa-solid {{ images[image] }}" [ngStyle]="getRandomStyle()"></em>
    </div>
    }
  </div>
  <div class="progress-bar">
    <div class="progress" [ngStyle]="{ width: (timer / timeToRefresh) * 100 + '%' }"></div>
  </div>
</div>
