<article class="component-container">
  <quote-header-title><span nxQuoteLiteral="header"></span></quote-header-title>
  <section class="form-container">
    <form [formGroup]="form">
      <nx-formfield label="Código postal">
        <input #searchInput type="text" formControlName="postalCode" required nxInput maxlength="5" nxQuoteMask="numeric" />
        <span nxFormfieldHint> {{ location }} </span>
        @if(form.get('postalCode')?.errors?.['postalCodeNotRecognized']) {
        <nx-error appearance="text" nxFormfieldError>
          <span nxQuoteLiteral="error-unknown"></span>
        </nx-error>
        } @if(form.get('postalCode')?.hasError('required')) {
        <nx-error appearance="text" nxFormfieldError>
          <span nxQuoteLiteral="error-required"></span>
        </nx-error>
        }
      </nx-formfield>
    </form>
  </section>
  <quote-footer>
    <div class="extra__footer__info">
      <quote-footer-info icon="fa-hand-holding-heart">
        <span nxQuoteLiteral="footer-info"></span>
      </quote-footer-info>
    </div>
  </quote-footer>
</article>
