<article class="component-container">
  <quote-header-title><span nxQuoteLiteral="header"></span></quote-header-title>
  <div class="form-container">
    <form [formGroup]="form">
      <nx-formfield [label]="'search' | quoteLiteral" appearance="outline">
        <input #searchInput type="text" formControlName="searchInput" nxInput />
        <span nxFormfieldSuffix>
          <nx-icon name="search"></nx-icon>
        </span>
      </nx-formfield>
    </form>
    @for(modelVersion of modelVersions; track modelVersion.index) { @defer(on viewport) {
    <div class="card-container nx-margin-bottom-s">
      <quote-text-card
        [selected]="modelVersion.index === selectedModelVersion?.index"
        [data]="modelVersion.data"
        (uiSelect)="selectVersion(modelVersion)"
      />
    </div>
    } @placeholder {
    <div class="card-container"></div>
    } }
  </div>
</article>
