<div class="brands-content">
  @for(brand of iconBrands; track brand){
  <quote-brand
    class="nx-margin-x-3xs nx-margin-y-3xs"
    [brand]="brand"
    [selected]="selectedBrand === brand"
    (uiSelect)="selectBrand($event)"
  />
  }

  <div class="all-brands nx-margin-y-xs">
    @if(showAll) {
    <nx-formfield [label]="'Label.Brand' | translate">
      <nx-dropdown [value]="selectedBrand" [showFilter]="true" (selectionChange)="onBranchChange($event)">
        @for(brand of allBrands; track brand) {
        <nx-dropdown-item [value]="brand">{{ brands[brand].data ?? brand | titlecase }} </nx-dropdown-item>
        }
      </nx-dropdown>
    </nx-formfield>
    } @else {
    <button class="nx-margin-y-2xs" nxButton="tertiary small" type="button" (click)="toggleAllBrands()">
      <nx-icon name="arrow-right" nxIconPositionStart aria-hidden="true"></nx-icon>{{ 'Label.AllBrands' | translate }}
    </button>
    }
  </div>
</div>
