.card-container {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 56px;
  width: 100%;
}

.card-placeholder {
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: center;
  width: 100%;
}
