.card-container {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  min-height: 56px;

  &:hover {
    font-weight: 700 !important;
  }
}
