.form-container {
  flex-direction: column;

  .info-phone {
    color: var(--interactive-primary);
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
  }

  .info-header {
    font-weight: bold;
  }
}

.center__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
