<article class="component-container">
  <quote-header-title>¿Y el modelo?</quote-header-title>
  <div class="form-container">
    <form [formGroup]="form">
      <nx-formfield label="{{ 'Label.Search' | translate }}..." appearance="outline">
        <input #searchInput type="text" formControlName="searchInput" nxInput />
        <span nxFormfieldSuffix>
          <nx-icon name="search"></nx-icon>
        </span>
      </nx-formfield>
    </form>

    @for(model of models; track $index) { @defer(on viewport) {
    <div class="card-container nx-margin-bottom-s">
      <quote-text-card [selected]="model === selectedModel" [data]="model" (uiSelect)="selectModel(model)" />
    </div>
    } @placeholder {
    <div class="card-container"></div>
    } }
  </div>
</article>
