.component-container {
  align-items: center;

  .coverages {
    flex-direction: column;

    .coverage {
      align-items: center;
      display: flex;
      justify-content: flex-start;

      .fa-check {
        color: var(--success);
      }
    }

    p {
      display: flex;
      align-items: start;
    }
  }

  .center__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .avatar__container {
      align-items: center;
      border-radius: 100%;
      display: flex;
      height: 88px;
      justify-content: center;
      width: 88px;

      &.nx-icon--fill {
        color: var(--interactive-primary);
        background-color: #eff6f6;

        em {
          font-size: 48px;
        }
      }
    }
  }
}
