<article class="component-container">
  <quote-header-title> <span nxQuoteLiteral="header"></span></quote-header-title>
  <div class="form-container">
    <nx-accordion variant="light" [multi]="true">
      <nx-expansion-panel [expanded]="true">
        <nx-expansion-panel-header>
          <nx-expansion-panel-title nxHeadline="subsection-xsmall">
            <span nxQuoteLiteral="fuel"></span>
          </nx-expansion-panel-title>
        </nx-expansion-panel-header>
        <div class="vehicle__selections">
          @for(fuel of fuels; track $index) { @let _selectedFuel = fuel.index === selectedFuel?.index;
          <div class="vehicle__selection nx-margin-2xs">
            <quote-selectable-option
              [selected]="_selectedFuel"
              [nxTrack]="{
                title: 'header' | quoteLiteral,
                cubicCapacity: selectedCubicCapacity?.index,
                fuel: fuel.index,
                power: selectedPower?.index
              }"
              [nxTrackEvents]="['click']"
              (uiSelect)="selectFuel(fuel)"
            >
              <div class="card-container">
                <span nxCopytext="medium" class="nx-margin-s" [ngClass]="{ 'nx-font-weight-bold': _selectedFuel }"> {{ fuel.data }}</span>
              </div>
            </quote-selectable-option>
          </div>
          }
        </div>
      </nx-expansion-panel>

      <nx-expansion-panel #cubicCapacityPanel [expanded]="selectedFuel">
        <nx-expansion-panel-header>
          <nx-expansion-panel-title nxHeadline="subsection-xsmall">
            <span nxQuoteLiteral="cubic-capacity"></span>
          </nx-expansion-panel-title>
        </nx-expansion-panel-header>
        <div class="vehicle__selections">
          @for(cubicCapacity of cubicCapacities; track $index) { @let _selectedCubicCapacityselected = cubicCapacity.index ===
          selectedCubicCapacity?.index;
          <div class="vehicle__selection nx-margin-2xs">
            <quote-selectable-option
              [selected]="_selectedCubicCapacityselected"
              [nxTrack]="{
                title: 'header' | quoteLiteral,
                cubicCapacity: cubicCapacity.index,
                fuel: selectedFuel?.index,
                power: selectedPower?.index
              }"
              [nxTrackEvents]="['click']"
              (uiSelect)="selectCubicCapacity(cubicCapacity)"
            >
              <div class="card-container cubic-capacity-width">
                <span nxCopytext="medium" class="nx-margin-s" [ngClass]="{ 'nx-font-weight-bold': _selectedCubicCapacityselected }">
                  {{ cubicCapacity.data }}</span
                >
              </div>
            </quote-selectable-option>
          </div>
          }
        </div>
        <div class="button-container">
          @let _cubicCapacityNotKnown = selectedCubicCapacity?.index === cubicCapacityNotKnown.index;
          <quote-selectable-option [selected]="_cubicCapacityNotKnown" (uiSelect)="selectCubicCapacity(cubicCapacityNotKnown)">
            <button
              class="nx-margin-y-2xs center"
              nxButton="tertiary small"
              type="button"
              [nxTrack]="{
                title: 'header' | quoteLiteral,
                cubicCapacity: cubicCapacityNotKnown.index,
                fuel: cubicCapacityNotKnown.index,
                power: selectedPower?.index
              }"
              [nxTrackEvents]="['click']"
            >
              <span
                nxCopytext="medium"
                [ngClass]="{ 'nx-font-weight-bold': _cubicCapacityNotKnown }"
                nxQuoteLiteral="cubic-capacity-not-known"
              ></span>
            </button>
          </quote-selectable-option>
        </div>
      </nx-expansion-panel>

      <nx-expansion-panel #powerPanel [expanded]="selectedCubicCapacity">
        <nx-expansion-panel-header>
          <nx-expansion-panel-title nxHeadline="subsection-xsmall">
            <span nxQuoteLiteral="power"></span>
          </nx-expansion-panel-title>
        </nx-expansion-panel-header>
        <div class="vehicle__selections">
          @for(power of powers; track power.index) { @let _selectedPower = power.index === selectedPower?.index;
          <div class="vehicle__selection nx-margin-2xs">
            <quote-selectable-option
              [selected]="_selectedPower"
              [nxTrack]="{
                title: 'header' | quoteLiteral,
                cubicCapacity: selectedCubicCapacity?.index,
                fuel: selectedFuel?.index,
                power: power.index
              }"
              [nxTrackEvents]="['click']"
              (uiSelect)="selectPower(power)"
            >
              <div class="card-container">
                <span nxCopytext="medium" class="nx-margin-s" [ngClass]="{ 'nx-font-weight-bold': _selectedPower }"> {{ power.data }}</span>
              </div>
            </quote-selectable-option>
          </div>
          }
        </div>
        <div class="button-container">
          @let _powerNotKnown = selectedPower?.index === powerNotKnown.index;
          <quote-selectable-option [selected]="_powerNotKnown" (uiSelect)="selectPower(powerNotKnown)">
            <button
              class="nx-margin-y-2xs center"
              nxButton="tertiary small"
              type="button"
              [nxTrack]="{
                title: 'header' | quoteLiteral,
                cubicCapacity: selectedCubicCapacity?.index,
                fuel: selectedFuel?.index,
                power: powerNotKnown.index
              }"
              [nxTrackEvents]="['click']"
            >
              <span nxCopytext="medium" [ngClass]="{ 'nx-font-weight-bold': _powerNotKnown }" nxQuoteLiteral="power-not-known"></span>
            </button>
          </quote-selectable-option>
        </div>
      </nx-expansion-panel>
    </nx-accordion>
  </div>
</article>
