<article class="component-container">
  <quote-header-title><span nxQuoteLiteral="header"></span></quote-header-title>
  <section class="form-container">
    <form [formGroup]="form">
      <nx-formfield [label]="'issue-date' | quoteLiteral">
        <input
          formControlName="licenseDate"
          nxDatefield
          nxInput
          [max]="maxDate"
          [datepicker]="myDatepicker"
          [parseFormat]="dateFormats"
          displayFormat="DD/MM/YYYY"
        />
        <span nxFormfieldHint nxQuoteLiteral="hint-date-format"></span>
        <nx-datepicker-toggle [for]="myDatepicker" nxFormfieldSuffix></nx-datepicker-toggle>
        <nx-datepicker #myDatepicker></nx-datepicker>
        @if(form.get('licenseDate')?.errors?.['required']) {
        <nx-error appearance="text" nxFormfieldError><span nxQuoteLiteral="error-required"></span> </nx-error>
        } @if(form.get('licenseDate')?.errors?.['futureDate']) {
        <nx-error appearance="text" nxFormfieldError><span nxQuoteLiteral="error-future-date"></span> </nx-error>
        } @if(form.get('licenseDate')?.errors?.['minYearsBetweenDates']) {
        <nx-error appearance="text" nxFormfieldError
          ><span nxQuoteLiteral="error-min-years-between" [nxQuoteLitealParams]="{ value: minYears }"></span>
        </nx-error>
        }
      </nx-formfield>
    </form>
  </section>
  <quote-footer
    [trackInfo]="{
      drivenLicenseDate: form.get('licenseDate')?.value?.format(dateFormat)
    }"
    (uiOnNext)="updateValidData()"
  />
</article>
