<!-- eslint-disable @angular-eslint/template/elements-content -->
<article class="component-container">
  <quote-header-title>
    <div class="component__header__title">
      <span class="info__description" nxQuoteLiteral="header"></span>
      <span class="info__icon nx-margin-left-2xs">
        <em class="fa-solid fa-2xs fa-info-circle" aria-hidden="true" (click)="openFromTemplate()"></em>
      </span>
    </div>
  </quote-header-title>
  <section class="form-container">
    @for(icon of drivenLicenseCountries; track icon.index) {
    <quote-icon-card
      [data]="icon"
      [selected]="selectedLocation?.index === icon.index"
      (uiSelect)="selectLocation(icon)"
      [nxTrack]="trackInfo"
      [nxTrackEvents]="['click']"
    />
    }
  </section>
</article>

<ng-template #template>
  <div nxModalContent class="modal-content">
    <h3 nxHeadline="subsection-medium" class="nx-margin-bottom-s" nxQuoteLiteral="help-header"></h3>
    <p nxCopytext="subsection-medium" class="nx-margin-bottom-2m" nxQuoteLiteral="help"></p>
  </div>
</ng-template>
