.component__header__title {
  .info__icon {
    color: var(--interactive-primary);
  }
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 340px;
}

.modal-content {
  text-align: center;
}
