<article class="component-container">
  <quote-header-title><span nxQuoteLiteral="header"></span></quote-header-title>
  <section class="form-container">
    <form [formGroup]="form">
      <nx-formfield [label]="'birth-date' | quoteLiteral">
        <input
          formControlName="birthdate"
          nxDatefield
          nxInput
          [max]="maxDate"
          [datepicker]="myDatepicker"
          [parseFormat]="['DD/MM/YYYY', 'DDMMYYYY', 'DDMMYY']"
          displayFormat="DD/MM/YYYY"
        />
        <span nxFormfieldHint nxQuoteLiteral="hint-date-format"></span>
        <nx-datepicker-toggle [for]="myDatepicker" nxFormfieldSuffix></nx-datepicker-toggle>
        <nx-datepicker #myDatepicker></nx-datepicker>
        @if(form.get('birthdate')?.errors?.['required']) {
        <nx-error appearance="text" nxFormfieldError><span nxQuoteLiteral="error-required"></span> </nx-error>
        } @if(form.get('birthdate')?.errors?.['olderThanYears']) {
        <nx-error appearance="text" nxFormfieldError
          ><span nxQuoteLiteral="error-client-old" [uiQuoteLitealParams]="{ value: minValue }"></span>
        </nx-error>
        }
      </nx-formfield>
    </form>
  </section>
  <quote-footer [data]="contextData" (uiOnNext)="updateValidData()" />
</article>
