<article class="component-container">
  <quote-header-title>
    ¿Cuál es tu teléfono?
    <p nxCopytext="normal">
      Sabemos que los seguros a veces son complejos. Por eso, solo te llamaremos para darte asistencia personalizada.
    </p>
  </quote-header-title>
  <section class="form-container">
    <form [formGroup]="form">
      <div class="quote-grow">
        <nx-formfield label="Teléfono">
          <input formControlName="phoneNumber" nxInput nxMask="000 00 00 00" />
        </nx-formfield>
      </div>
    </form>
  </section>
  <quote-footer />
</article>
