.form-container {
  .vehicle__selections {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .card-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      min-width: 110px;
      justify-content: center;
    }
  }
}
