/* You can add global styles to this file, and also import other style files */
/**
  Themes
*/
@use '@angular/cdk/overlay-prebuilt.css';
@use '@angular/cdk/a11y-prebuilt.css';

@use 'core-globals';

@use 'themes/dark';
@use 'themes/light';

body {
  background-image: none;

  // user-select' should be listed after '-webkit-user-select'.
  -webkit-user-select: none;
  user-select: none;

  input {
    -webkit-user-select: auto;
    user-select: auto;
  }

  a {
    color: var(--interactive-text);
    cursor: pointer;

    &:hover {
      color: var(--hover-primary);
    }
  }
}

main {
  background: inherit;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .component-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .form-container {
      nx-error + nx-error {
        margin-top: 12px;
      }

      button {
        text-transform: capitalize;
      }

      // .selectable-row {
      //   // @howto: render the card-container when element is viewed
      //   content-visibility: auto;
      // }

      .selectable-row + .selectable-row {
        margin-top: 8px;
      }
    }

    .nx-formfield.has-outline {
      .nx-formfield__input-container {
        background-color: inherit;
      }

      .nx-formfield__suffix {
        margin-right: 2px;

        .clear-input {
          background: var(--badge-critical-background-color);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
          border-radius: 4px;
          color: var(--ui-06);
          cursor: pointer;
          opacity: 0.6;
          padding: 5px 8px;
          transition: opacity 0.7s ease;

          &:hover {
            opacity: 0.9;
          }
        }

        .search-input {
          margin-right: 10px;
        }
      }
    }

    .nx-formfield-hint {
      text-align: left;
    }

    .nx-formfield--type-nx-input {
      .nx-formfield__label-holder {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-left: 6px;
      }

      &.is-focused,
      &.is-filled {
        .nx-formfield__label-holder {
          align-items: start;
          margin-left: 0;
        }
      }
    }
  }
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.not-found {
  background-image: url('/images/no-data-found.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: inherit;
  min-height: 250px;
  text-align: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  --principal: var(--ui-06);
  --c: no-repeat radial-gradient(farthest-side, var(--principal) 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
  background-size: 10px 10px;
  animation: l18 1s infinite;
  position: relative;
}

.loader::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg, var(--principal) 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}

@keyframes l18 {
  100% {
    transform: rotate(0.5turn);
  }
}

.reveal {
  animation: reveal linear both;
  animation-range: entry 5%;
  animation-timeline: view();
}

@keyframes reveal {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

/* @howto reduce animations */
/* animations */
/* media for reduce animations if user deactive system property */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
