/* You can add global styles to this file, and also import other style files */
/**
  Themes
*/
@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/cdk/a11y-prebuilt.css';

@import 'core-colors';
@import 'core-globals';

@import 'themes/dark';
@import 'themes/light';

body {
  background: linear-gradient(121deg, rgba(255, 255, 255, 1) 0%, rgba(197, 197, 197, 1) 100%);
}

main {
  background: inherit;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .component-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .form-container {
      button {
        text-transform: capitalize;
      }
    }

    .nx-formfield.has-outline .nx-formfield__input-container {
      background-color: inherit;
    }
  }

  .nx-formfield-hint {
    text-align: left;
  }
}
