/* You can add global styles to this file, and also import other style files */
/**
  Themes
*/
@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/cdk/a11y-prebuilt.css';

@import 'core-colors';
@import 'core-globals';

@import 'themes/dark';
@import 'themes/light';

body {
  background: linear-gradient(121deg, rgba(255, 255, 255, 1) 0%, rgba(197, 197, 197, 1) 100%);
}

main {
  background: inherit;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .component-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .form-container {
      nx-error + nx-error {
        margin-top: 12px;
      }

      button {
        text-transform: capitalize;
      }

      // .selectable-row {
      //   // @howto: render the card-container when element is viewed
      //   content-visibility: auto;
      // }

      .selectable-row + .selectable-row {
        margin-top: 4px;
      }
    }

    .nx-formfield.has-outline .nx-formfield__input-container {
      background-color: inherit;
    }

    .nx-formfield-hint {
      text-align: left;
    }

    .nx-formfield--type-nx-input {
      .nx-formfield__label-holder {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-left: 6px;
      }

      &.is-focused,
      &.is-filled {
        .nx-formfield__label-holder {
          align-items: start;
          margin-left: 0;
        }
      }
    }
  }
}

.reveal {
  animation: reveal linear both;
  animation-range: entry 5%;
  animation-timeline: view();
}

@keyframes reveal {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}
