/* You can add global styles to this file, and also import other style files */
/**
  Themes
*/
@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/cdk/a11y-prebuilt.css';

@import 'core-colors';
@import 'core-globals';

@import 'themes/dark';
@import 'themes/light';

main {
  --footer-background-color: var(--header-background-color);

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .component-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    quote-footer {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }

  .quote-grow {
    flex-grow: 1;
  }

  .card-container {
    align-items: center;
    outline: 1px solid #bbb;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      background-color: var(--selectable-card-background-selected-hover-color);
      transition: outline-color 0.5s ease-out, background-color 0.5s ease-out;
    }

    &.selected {
      background-color: var(--selectable-card-background-selected-color);
      outline: 2px solid #007ab3;
      transition: outline-color 0.5s ease-out;
    }
  }

  .nx-formfield-hint {
    text-align: left;
  }
}
