<article class="component-container">
  <quote-header-title><span nxQuoteLiteral="header"></span></quote-header-title>
  <section class="form-container">
    @for (item of yearsAsOwner; track item) {
    <div class="selectable-row">
      <quote-text-card
        [selected]="selectedYears === item"
        [data]="
          'time-desc'
            | quoteLiteral
              : ($last
                  ? {
                      value: item.toString(),
                      'literal-year': { value: item > 1 ? 'Label.Years' : 'Label.Year', type: 'translate' },
                      'or-more': { value: 'Label.OrMore', type: 'translate' }
                    }
                  : {
                      value: item.toString(),
                      'literal-year': { value: item > 1 ? 'Label.Years' : 'Label.Year', type: 'translate' }
                    })
        "
        (uiSelect)="selectData(item)"
      />
    </div>
    }
  </section>
</article>
